# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/python_modules



npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/modules.xml

.idea/nodeGCall.iml

.idea/workspace.xml

.idea/vcs.xml

/client_secret.json
